<h1>Routing Works</h1>
<br>
<ul>
  <h1>Admin Page</h1>
  <li><a routerLink="admin/login">Login</a></li>
  <li><a routerLink="admin/list">List</a></li>
</ul>
<br>
<ul>
  <h1>User Page</h1>
  <li><a routerLink="user/login">Login</a></li>
  <li><a routerLink="user/list">List</a></li>
</ul>
<br>
<ul>
  <h1>Teacher Page</h1>
  <li><a routerLink="teacher/login">Login</a></li>
  <li><a routerLink="teacher/list">List</a></li>
</ul>
<br>
<ul>
  <h1>Student Page</h1>
  <li><a routerLink="student/login">Login</a></li>
  <li><a routerLink="student/list">List</a></li>
</ul>
<router-outlet></router-outlet>

<button (click)="loadUserList()">User List!</button>
<button (click)="loadAdminList()">Admin List!</button>